/* Definir a largura máxima da página e centralizar */
.container {
    max-width: 800px; /* Largura máxima da página */
    margin: 0 auto;   /* Centralizar a página */
    padding: 20px;    /* Espaçamento interno para dar respiro */
    background-color: #fff; /* Cor de fundo da área de conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil ao redor */
}

/* Centralizar e ajustar o tamanho da imagem do cabeçalho */
.header-image {
    text-align: center; /* Centralizar a imagem */
}

.header-image img {
    width: 5cm;   /* Largura fixa de 4cm */
    height: auto;  /* Altura fixa de 4cm */
    margin-bottom: 20px;
}

/* Centralizar e ajustar o tamanho da imagem do rodapé */
.footer-image {
    text-align: center; /* Centralizar a imagem */
}

.footer-image img {
    width: 4cm;   /* Largura fixa de 4cm */
    height: 4cm;  /* Altura fixa de 4cm */
    margin-top: 20px;
}

/* Justificar o texto para melhorar a legibilidade */
.justify-text {
    text-align: justify;
}

/* Centralizar figuras e legendas */
.figure-center {
    text-align: center;
    margin: 20px 0;
}

.figure-center img {
    max-width: 100%;
    height: auto;
}

.figure-center p {
    font-style: italic;
    text-align: center;
}
